.sign-in {
  width: 380px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    position: relative;
    left: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

}
