.sign-up {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    width: 290px;
  }

  h2 {
    margin: 0 auto;
  }

  .title {
    margin: 10px 0;
  }

  .sign-up-footer {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 15px;
  }
}
